<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:replace="~{layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <div class="container">
            <div class="col-6">
                <h1>[[${room.name}]]</h1>
            </div>
            <div>
                <div id="msgArea" class="col"></div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" id="msg" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <!-- 다중 파일 업로드 버튼 -->
                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="fileInput" multiple>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="multi-upload">멀티스레드 파일업로드</button>
                        <button class="btn btn-outline-third" type="button" id="single-upload">싱글스레드 파일업로드</button>
                    </div>
                </div>
                <!-- 파일 다운로드 버튼 -->
                <div class="input-group mb-3">
                    <button class="btn btn-outline-primary" type="button" id="download-multi">multi 다운로드 (ZIP)</button>
                </div>
                <div class="input-group mb-3">
                    <button class="btn btn-outline-primary" type="button" id="download-single">single 다운로드 (ZIP)</button>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

        <!-- CSRF 토큰을 메타 태그로 추가 -->
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    </th:block>
</th:block>

</html>

<script th:inline="javascript">
    $(document).ready(function(){

        var roomName = [[${room.name}]];
        var roomId = [[${room.roomId}]];
        var username = [[${#authentication.principal.username}]];

        console.log(roomName + ", " + roomId + ", " + username);

        var sockJs = new SockJS("/stomp/chat");
        var stomp = Stomp.over(sockJs);

        stomp.connect({}, function (){
            console.log("STOMP Connection");

            stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                var content = JSON.parse(chat.body);

                var writer = content.writer;
                var message = content.message;
                var str = '';

                if(writer === username){
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-secondary'>";
                    str += "<b>" + writer + " : " + message + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }
                else{
                    str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += "<b>" + writer + " : " + message + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }
            });

            stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}))
        });

        $("#button-send").on("click", function(e){
            var msg = document.getElementById("msg");

            console.log(username + ":" + msg.value);
            stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message: msg.value, writer: username}));
            msg.value = '';
        });

        $("#multi-upload").on("click", function(e){
            var fileInput = document.getElementById("fileInput");
            var files = fileInput.files;

            if(files.length > 0){
                var formData = new FormData();

                for (var i = 0; i < files.length; i++) {
                    formData.append("files", files[i]);
                }

                // CSRF 토큰 가져오기
                var csrfToken = $("meta[name='_csrf']").attr("content");
                var csrfHeader = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    url: '/file/upload', // 서버 측 파일 업로드 처리 경로
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: function(response) {
                        console.log("파일 업로드 성공:", response);
                        // 업로드 성공 시 처리 로직 추가
                        for (var i = 0; i < response.length; i++) {
                            $("#msgArea").append("<div class='alert alert-info'>Uploaded: " + response[i] + "</div>");
                        }
                    },
                    error: function(error) {
                        console.log("파일 업로드 실패", error);
                        // 업로드 실패 시 처리 로직 추가
                        $("#msgArea").append("<div class='alert alert-danger'>파일 업로드 실패</div>");
                    }
                });
            } else {
                alert("파일을 선택하세요.");
            }
        });

        $("#single-upload").on("click", function(e){
            var fileInput = document.getElementById("fileInput");
            var files = fileInput.files;

            if(files.length > 0){
                var formData = new FormData();

                for (var i = 0; i < files.length; i++) {
                    formData.append("files", files[i]);
                }

                // CSRF 토큰 가져오기
                var csrfToken = $("meta[name='_csrf']").attr("content");
                var csrfHeader = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    url: '/file/single', // 서버 측 파일 업로드 처리 경로
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: function(response) {
                        console.log("파일 업로드 성공:", response);
                        // 업로드 성공 시 처리 로직 추가
                        for (var i = 0; i < response.length; i++) {
                            $("#msgArea").append("<div class='alert alert-info'>Uploaded: " + response[i] + "</div>");
                        }
                    },
                    error: function(error) {
                        console.log("파일 업로드 실패", error);
                        // 업로드 실패 시 처리 로직 추가
                        $("#msgArea").append("<div class='alert alert-danger'>파일 업로드 실패</div>");
                    }
                });
            } else {
                alert("파일을 선택하세요.");
            }
        });

        $("#download-multi").on("click", function(e){
            window.location.href = "/downloadZip/multi";
        });

        $("#download-single").on("click", function(e){
            window.location.href = "/downloadZip/single";
        });
    });
</script>
