<!DOCTYPE html><html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <title>Chat</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script></head><body>
<div th:replace="layout/basic :: setContent(~{this :: content})">
    <div th:fragment="content">
        <div class="container">
            <div class="col-6">
                <label><b>채팅방</b></label>
            </div>
            <div>
                <div id="msgArea" class="col"></div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function(){
        const username = 'anonymous';

        $.get("/messages", function(messages) {
            messages.forEach(function(message) {
                displayMessage(message.name, message.content);
            });
        });

        $("#button-send").on("click", function() {
            send();
        });

        const websocket = new WebSocket("ws://localhost:8080/ws/chat");

        websocket.onmessage = function(msg) {
            onMessage(msg);
        };
        websocket.onopen = function(evt) {
            onOpen(evt);
        };
        websocket.onclose = function(evt) {
            onClose(evt);
        };

        function send(){
            let msg = document.getElementById("msg").value;
            console.log(username + ":" + msg);
            websocket.send(username + ":" + msg);
            document.getElementById("msg").value = '';
        }

        function onClose(evt) {
            var str = username + ": 님이 방을 나가셨습니다.";
            websocket.send(str);
        }

        function onOpen(evt) {
            var str = username + ": 님이 입장하셨습니다.";
            websocket.send(str);
        }

        function onMessage(msg) {
            var data = msg.data;
            var arr = data.split(":");
            var sessionId = arr[0];
            var message = arr[1];

            displayMessage(sessionId, message);
        }

        function displayMessage(sessionId, message) {
            var cur_session = username;
            var str = "<div class='col-6'>";
            if(sessionId === cur_session){
                str += "<div class='alert alert-secondary'>";
            } else {
                str += "<div class='alert alert-warning'>";
            }
            str += "<b>" + sessionId + " : " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
        }
    });
</script></body></html>